/* @import "~font-awesome/css/font-awesome.css"; */

.aise{

    display: flex;
    overflow: hidden;
    /* width: 30px; */
}

.aise img{
    height: 100%;
    width: 50px;
    object-fit: cover;
    animation: aiseanimation both;
    animation-timeline: view(10% 5%);
}


.under-line{
    position: relative;
}

.under-line img{
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: auto;
    transition: width 0.5s 
cubic-bezier(0.22, 0.61, 0.36, 1);
    animation: underlineanimation both;
    animation-timeline: view(10% 5%);
}

@keyframes underlineanimation {
    0%{
    width: 0px;
    }
    5%{
        width: 100px;   
    }
    20%{
        width: 120px;
    }
    to{
        width: 150px;
    }
  }


.circle-team{
  width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -65px;
    right: -61px;
    z-index: 1;
    background: transparent;
    border: 40px solid rgb(255, 255, 255);
    box-shadow: rgba(87, 148, 197, 0.172) 0px 50px 100px -20px, #0000004a 0px 30px 60px -30px, rgba(10, 37, 64, 0.218) 0px -2px 6px 0px inset;
}

@media (max-width: 768px) {
  .circle-team{
    display: none;
  }
    
}
